
# Arquivos do Terraform que não devem ser versionados
terraform.tfstate
terraform.tfstate.*
.terraform.lock.hcl


/env/dev/iac-dev
/env/dev/iac-dev.pub
/env/prod/iac-prod
/env/prod/iac-prod.pub
.terraform/
/prod/.terraform/
